.container {
  display: flex;
  gap: 10px;
}

.title {
  color: gray;
  font-weight: bold;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-weight: 500;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
